In [1]:
import  pandas as pd
from data_generator.dataset_generator import set_labels_for_age

In [2]:
df = pd.read_csv('/home/nicoli/github/ssd_keras/dataset/csv/imdb_csv/imdb_clean.csv', index_col=0)

In [6]:
df_age = set_labels_for_age(df).sample(frac=1).reset_index(drop=True)

In [7]:
df_age.head()

                                          image_name  class_id
0   imdb/79/nm0000379_rm537499648_1982-4-30_2006.jpg        24
1   imdb/50/nm0001650_rm281973760_1970-3-20_2005.jpg        35
2  imdb/38/nm0001638_rm3096615168_1941-6-10_1999.jpg        58
3  imdb/69/nm0358669_rm2779157248_1955-10-8_2008.jpg        53
4  imdb/07/nm0000207_rm2705034752_1980-2-12_1995.jpg        15

In [8]:
df_age.to_csv('/home/nicoli/github/ssd_keras/dataset/csv/imdb_csv/imdb_age_regression.csv')