In [1]:
import  pandas as pd

In [4]:
df_gender = pd.read_csv('../../ssd_keras/dataset/csv/imdb_csv/imdb_gender.csv', index_col=0)

In [24]:
df_gender.head()

,image_name,xmin,xmax,ymin,ymax,class_id
0,imdb/01/nm0000001_rm124825600_1899-5-10_1968.jpg,1072.926000,1214.784000,161.838000,303.696000,2
1,imdb/01/nm0000001_rm3343756032_1899-5-10_1970.jpg,477.184000,622.592000,100.352000,245.760000,2
2,imdb/01/nm0000001_rm577153792_1899-5-10_1968.jpg,114.969643,451.686572,114.969643,451.686572,2
3,imdb/01/nm0000001_rm946909184_1899-5-10_1968.jpg,622.885506,844.339008,424.217504,645.671006,2
4,imdb/01/nm0000001_rm980463616_1899-5-10_1968.jpg,1013.859002,1201.586128,233.882042,421.609168,2

In [23]:
df_gender['class_id']+=1

In [25]:
from sklearn.preprocessing import OneHotEncoder

In [32]:
onehot_encoder = OneHotEncoder(sparse=False)
onehot_encoded = onehot_encoder.fit_transform(df_gender['class_id'].values.reshape(-1,1))

In [37]:
onehot_encoded.shape

(391087, 2)

In [48]:
df_gender['class_id1'] = 0
df_gender['class_id1'] = onehot_encoded.T[0].astype(int)
df_gender['class_id2'] = 0
df_gender['class_id2'] = onehot_encoded.T[1].astype(int)

In [55]:
#df_gender.drop('class_id', axis=1, inplace=True)
df_gender.sample(10)

,image_name,xmin,xmax,ymin,ymax,class_id1,class_id2
287018,imdb/26/nm2159926_rm3666059264_1978-5-28_2013.jpg,453.734572,790.451502,265.531834,602.248763,0,1
348452,imdb/51/nm4874651_rm1318638592_1996-1-15_2014.jpg,328.394778,436.526371,182.885988,291.017581,1,0
366420,imdb/21/nm3683221_rm3068320000_1984-9-29_2013.jpg,377.077843,501.437124,112.430472,236.789753,0,1
193161,imdb/75/nm1312575_rm3287219200_1984-3-10_2015.jpg,763.036557,1045.050265,383.018278,665.031987,1,0
78259,imdb/32/nm0000932_rm2318912256_1966-8-14_2010.jpg,836.185100,1251.205650,326.434650,741.455200,1,0
125426,imdb/47/nm0004747_rm4060257024_1978-9-4_2000.jpg,121.638000,162.960000,51.798000,93.120000,0,1
37896,imdb/85/nm0000285_rm1395691008_1958-4-3_1996.jpg,347.949082,1124.178516,780.325434,1556.554868,0,1
79169,imdb/54/nm0000954_rm1765051904_1962-3-2_2000.jpg,493.568000,786.432000,493.568000,786.432000,0,1
85274,imdb/10/nm0001110_rm1036622592_1965-8-11_2005.jpg,159.531640,223.830766,58.446778,122.745904,1,0
209818,imdb/97/nm0021597_rm3732850688_1947-6-17_1989.jpg,2136.066987,2568.498030,197.577908,630.008951,0,1

In [56]:
df_gender.to_csv('../../ssd_keras/dataset/csv/imdb_csv/imdb_gender.csv')