In [26]:
import  pandas as pd
from data_generator.dataset_generator import set_labels_for_gender

In [27]:
df = pd.read_csv('/home/nicoli/github/ssd_keras/dataset/csv/imdb_csv/imdb_clean.csv', index_col=0)

In [28]:
df_gender = set_labels_for_gender(df, task='classification').sample(frac=1).reset_index(drop=True)

In [29]:
df_gender.head()

                                          image_name  class_id
0   imdb/60/nm0005460_rm2653139200_1953-2-8_2006.jpg       0.0
1  imdb/21/nm0005321_rm3817909504_1971-6-30_2013.jpg       0.0
2  imdb/22/nm1092022_rm1333830144_1976-12-1_2013.jpg       1.0
3  imdb/75/nm0281575_rm2889518592_1984-4-16_1993.jpg       1.0
4   imdb/41/nm0025241_rm3024065536_1966-0-0_2008.jpg       1.0

In [30]:
df_gender['class_id']+=1

In [31]:
from sklearn.preprocessing import OneHotEncoder

In [32]:
onehot_encoder = OneHotEncoder(sparse=False)
onehot_encoded = onehot_encoder.fit_transform(df_gender['class_id'].values.reshape(-1,1))

In [33]:
onehot_encoded.shape

(47950, 2)

In [34]:
df_gender['class_id1'] = 0
df_gender['class_id1'] = onehot_encoded.T[0].astype(int)
df_gender['class_id2'] = 0
df_gender['class_id2'] = onehot_encoded.T[1].astype(int)

In [35]:
df_gender.drop('class_id', axis=1, inplace=True)
df_gender.sample(10)

                                              image_name  class_id1  class_id2
13267  imdb/75/nm0001575_rm1991874560_1963-11-5_2005.jpg          1          0
3776   imdb/54/nm0615554_rm2824516096_1939-5-26_2011.jpg          0          1
45581  imdb/26/nm0403926_rm2459539200_1972-12-22_2008...          0          1
24265  imdb/06/nm0001706_rm1295420928_1960-12-10_1985...          0          1
45659  imdb/22/nm1502522_rm1073453824_1996-11-3_2005.jpg          1          0
10089   imdb/26/nm2240326_rm3172574208_1992-2-9_2013.jpg          0          1
24654  imdb/94/nm0001194_rm2081066496_1952-11-29_1990...          0          1
16182  imdb/99/nm0005299_rm305462272_1974-12-17_2015.jpg          1          0
23967   imdb/97/nm2093097_rm3790452736_1989-5-5_2005.jpg          0          1
40377  imdb/20/nm1738420_rm3853508096_1983-10-10_2014...          0          1

In [36]:
df_gender.to_csv('/home/nicoli/github/ssd_keras/dataset/csv/imdb_csv/imdb_gender_classification.csv')