# Take imdb dataframe set to ssd, sample it and split it into train, test and validation data

In [1]:
import os, sys
os.chdir(sys.path[1])

In [2]:
import pandas as pd
from data_generator.dataset_generator import *

In [4]:
attr = 'gender'
task = 'classification'

In [5]:
df = pd.read_csv('/home/nicoli/github/ssd_keras/dataset/csv/imdb_csv/imdb_'+ attr + '_'+ task+ '.csv', index_col=0)
df.head()

                                          image_name  class_id1  class_id2
0   imdb/60/nm0005460_rm2653139200_1953-2-8_2006.jpg          1          0
1  imdb/21/nm0005321_rm3817909504_1971-6-30_2013.jpg          1          0
2  imdb/22/nm1092022_rm1333830144_1976-12-1_2013.jpg          0          1
3  imdb/75/nm0281575_rm2889518592_1984-4-16_1993.jpg          0          1
4   imdb/41/nm0025241_rm3024065536_1966-0-0_2008.jpg          0          1

In [18]:
df[['xmin', 'xmax', 'ymin', 'ymax']] = df[['xmin', 'xmax', 'ymin', 'ymax']].astype(int)

In [6]:
qtd = 10000
train_split, val_split, test_split = (0.7,0.1,0.2)
#classes = [[0,1],[1,0]]
target = ['class_id']#['class_id1', 'class_id2']

In [7]:
train_df, val_df, test_df = set_age_data_splits(df, qtd, train_split, val_split, test_split, target)

In [8]:
train_df.head()

                                          image_name  class_id1  class_id2
0   imdb/60/nm0005460_rm2653139200_1953-2-8_2006.jpg          1          0
1  imdb/21/nm0005321_rm3817909504_1971-6-30_2013.jpg          1          0
2  imdb/22/nm1092022_rm1333830144_1976-12-1_2013.jpg          0          1
3  imdb/75/nm0281575_rm2889518592_1984-4-16_1993.jpg          0          1
4   imdb/41/nm0025241_rm3024065536_1966-0-0_2008.jpg          0          1

In [9]:
val_df.head()

                                              image_name  class_id1  class_id2
33565  imdb/55/nm0362955_rm2232933120_1970-1-27_2011.jpg          1          0
33566  imdb/97/nm0476097_rm1156290560_1972-11-23_2002...          0          1
33567   imdb/60/nm0001560_rm3200030976_1955-3-9_2002.jpg          1          0
33568   imdb/35/nm1478535_rm2600450816_1998-4-6_2011.jpg          0          1
33569  imdb/37/nm0001337_rm3428483584_1978-11-24_2010...          1          0

In [10]:
test_df.head()

                                              image_name  class_id1  class_id2
38360  imdb/71/nm0798971_rm1308949504_1970-12-1_2015.jpg          1          0
38361  imdb/59/nm1275259_rm3810834944_1986-3-16_2011.jpg          1          0
38362  imdb/45/nm0000545_rm2883557376_1945-7-26_1999.jpg          1          0
38363   imdb/52/nm0471352_rm2724774656_1957-7-9_2015.jpg          0          1
38364  imdb/54/nm0001454_rm2608513024_1965-4-16_2014.jpg          0          1

In [12]:
titulo = str(qtd) + '-' + str(int(100*train_split)) + '-' + str(int(100*val_split)) + '-' + str(int(100*test_split))
titulo

'10000-70-10-20'

In [13]:

train_df.to_csv('/home/nicoli/github/ssd_keras/dataset/csv/imdb_csv/imdb_' + attr + ' ' + task + '_'+ '_train_split_' + titulo + '.csv', index=False)
val_df.to_csv('/home/nicoli/github/ssd_keras/dataset/csv/imdb_csv/imdb_' + attr +' ' + task + '_'+  '_val_split_' + titulo + '.csv',index=False)
test_df.to_csv('/home/nicoli/github/ssd_keras/dataset/csv/imdb_csv/imdb_' + attr + ' ' + task + '_'+ '_test_split_' + titulo + '.csv',index=False)

In [14]:
train_df.isnull().sum()

image_name    0
class_id1     0
class_id2     0
dtype: int64