# Minicurso: (Introdução à Análise de Dados com Pandas

Roteiro:

In [26]:
##Bibliotecas úteis

import pandas as pd ## Para manipulação dos conjuntos de dados
import numpy as np ## Para 
import chardet ## Biblioteca para lidar com a codificação de caracteres

## 1 - Abrir o conjunto de dados

In [139]:
## Abrindo o conjuntos de dados
kickstarter_df = pd.read_csv('ks-projects-201612.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x99 in position 11: invalid start byte

#### Ihhh problema de codificação!
Vamos olhar para os primeiros dez mil bytes pra ver a codificação dos caracteres

In [140]:


with open('ks-projects-201612.csv', 'rb') as dado_puro:
    codificacao = chardet.detect(dado_puro.read(10000))

codificacao

{'confidence': 0.73, 'encoding': 'Windows-1252', 'language': ''}

#### A biblioteca chardet tem 73% de confiança de que a codificação deste conjunto de dados é "Windows-1252". Vamos verificar:

In [141]:
## Abrindo o conjuntos de dados com a codificação correta:
kickstarter_df = pd.read_csv('ks-projects-201612.csv', encoding='Windows-1252')

/usr/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

#### Agora vamos dar uma olhada no conjunto de dados

In [12]:
kickstarter_df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,NaN

In [65]:
kickstarter_df.shape

(323750, 17)

#### Chardet acertou!

Mas tem alguns dados faltando...

## 2 - Limpar o conjunto de dados
    --Lidar com dados faltantes, como: __NaN__ ou __None__
    --Remover colunas sujas

### -- Lidar com dados faltantes

#### Verificando o número de dados faltantes por coluna

In [69]:
kickstarter_df.isnull().sum()

ID                     0
name                   2
category               5
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3790
Unnamed: 13       323125
Unnamed: 14       323738
Unnamed: 15       323746
Unnamed: 16       323749
dtype: int64

#### Verificando a porcentagem de dados faltantes

In [67]:
## Vamos checar a quantidade de linhas e colunas
kickstarter_df.shape

(323750, 17)

In [68]:
## Agora, o número total de células no dataset
num_total_celulas_kickstarter = np.product(kickstarter_df.shape)
num_total_celulas_kickstarter

5503750

In [70]:
## E o numero de células com números faltantes
num_celulas_faltantes = kickstarter_df.isnull().sum().sum()
num_celulas_faltantes

1298155

In [71]:
print('Porcentagem de dados faltantes:',  100 * num_celulas_faltantes / num_total_celulas_kickstarter)

Porcentagem de dados faltantes: 23.5867363161

#### Descobrir por quê esses dados estão faltando
    -- Não foi gravado?
    -- Não existe?
Vamos dar uma olhada no dataset!

In [57]:
## Verificando a quantidade de linhas e colunas
kickstarter_df.shape

(323750, 17)

In [58]:
#Tirando 5 amostras do dataset
kickstarter_df.sample(5)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
120179,1713281218,I'd be honored if you could pledge to make MIN...,Theater,Theater,USD,2012-01-28 22:59:55,500,2011-12-29 22:59:55,3845,successful,58,US,3845,NaN,NaN,NaN,NaN
86879,1516064581,BON'SHO®- A Nursing & Stroller Cover Up- 2 in ...,Design,Design,SEK,2015-01-16 22:59:06,375318,2014-12-02 22:59:06,5033,failed,6,SE,674.86017298,NaN,NaN,NaN,NaN
71789,1426636552,FUTURITY the Musical,Theater,Theater,USD,2010-04-11 04:22:00,4000,2010-03-03 01:18:15,4950,successful,73,US,4950,NaN,NaN,NaN,NaN
230732,44206882,Primeval Wear,Apparel,Fashion,USD,2015-11-10 22:43:27,15000,2015-09-21 22:43:27,0,failed,0,US,0,NaN,NaN,NaN,NaN
2130,1012838732,Jackboy's Dog Bakery - New Retail & Bakery,Restaurants,Food,USD,2015-05-18 08:59:00,145000,2015-04-09 17:00:33,295,failed,9,US,295,NaN,NaN,NaN,NaN

###### O que concluímos? Quais dados não existem e quais não foram coletados?

### Remover dados faltantes

Vamos começar removendo todas as __linhas__ que contém algum valor faltante

In [59]:
kickstarter_df.dropna()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
269970,677103185,SixSixSeven,Angels,Demons,Religion,Esoteric,Graphic Novels,Comics,USD,2015-10-10 01:00:00,750,2015-09-10 18:15:45,25,failed,1,US,25.0

#### Eita! Sobrou só uma linha!
Vamos tentar remover todas as __colunas__ que têm algum valor faltante:

In [54]:
ks_df_sem_nan = kickstarter_df.dropna(axis=1)
ks_df_sem_nan.head()

,ID,main_category,currency,deadline,goal,launched,pledged,state,backers,country
0,1000002330,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB
1,1000004038,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US
2,1000007540,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US
3,1000011046,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US
4,1000014025,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US

Vamos ver a quantidade de dados perdidos:

In [60]:
print('Quantidade de colunas no dataset original:', kickstarter_df.shape[1])
print('Quantidade de colunas sem valores faltantes:', ks_df_sem_nan.shape[1])

Quantidade de colunas no dataset original: 17
Quantidade de colunas sem valores faltantes: 10

Sobraram 10 colunas!
###### Uhu! Conseguimos remover dados e continuar com uma boa parcela do dataset!
Mas, para continuarmos com este dataset, vamos remover apenas as colunas __Unnamed__

In [142]:
kickstarter_df.columns #vendo o nome das colunas pra poder remover

Index(['ID ', 'name ', 'category ', 'main_category ', 'currency ', 'deadline ',
       'goal ', 'launched ', 'pledged ', 'state ', 'backers ', 'country ',
       'usd pledged ', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16'],
      dtype='object')

In [143]:
#removendo as colunas
kickstarter_df.drop(['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'], inplace=True, axis=1)

In [144]:
kickstarter_df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375

### Preencher dados automaticamente

Vamos ver quantas células vazias ainda sobram

In [145]:
kickstarter_df.isnull().sum()

ID                   0
name                 2
category             5
main_category        0
currency             0
deadline             0
goal                 0
launched             0
pledged              0
state                0
backers              0
country              0
usd pledged       3790
dtype: int64

Vamos olhar mais atentamente às colunas __name__, __category__ e __usd pledged__

In [146]:
kickstarter_df.loc[kickstarter_df.loc[:, 'name '].isnull()]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged
265251,648853978,NaN,Product Design,Design,USD,2016-07-18 05:01:47,2500,2016-06-18 05:01:47,0,suspended,0,US,0
289847,796533179,NaN,Painting,Art,USD,2011-12-05 05:59:00,35000,2011-11-06 23:55:55,220,failed,5,US,220

In [147]:
kickstarter_df.loc[kickstarter_df.loc[:, 'category '].isnull()]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged
36671,1218074363,I am Rupert,NaN,Webseries,Film & Video,GBP,2014-05-16 22:25:57,2000,2014-03-27 21:25:57,5,failed,1,GB
41069,124438738,BlanketPals TM,NaN,Interactive Design,Design,USD,2015-03-25 20:51:48,9750,2015-02-23 21:51:48,10890.45,successful,107,US
63544,1378236004,{string&&loop} Knitting Craft with Code,NaN,Apparel,Fashion,USD,2016-05-28 00:00:00,1800,2016-04-29 21:04:40,2308,successful,119,US
96753,1574873938,American Pin-up Revisitedd,NaN,Art,Art,USD,2014-04-03 17:52:09,7500,2014-03-04 17:52:09,100,failed,1,US
269930,676846639,Uplift: The Wearable iPhone Case with Zipline&...,NaN,Design,Design,USD,2011-04-04 20:08:17,50000,2011-03-05 20:08:17,1665,canceled,10,US

In [148]:
kickstarter_df.loc[kickstarter_df.loc[:, 'usd pledged '].isnull()].head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged
150,1000694855,STREETFIGHTERZ WHEELIE MURICA,Film & Video,Film & Video,USD,2014-09-20 06:59:00,6500,2014-08-06 21:28:36,555,undefined,0,"N,""0",NaN
287,100149523,Duncan Woods - Chameleon EP,Music,Music,AUD,2015-08-25 23:00:00,4500,2015-08-04 12:05:17,4767,undefined,0,"N,""0",NaN
549,1003023003,The Making of Ashley Kelley's Debut Album,Music,Music,USD,2015-04-09 21:06:13,3500,2015-03-10 20:06:13,3576,undefined,0,"N,""0",NaN
561,1003130892,Butter Side Down Debut Album,Music,Music,USD,2015-11-26 10:59:00,6000,2015-11-02 22:09:19,7007.8,undefined,0,"N,""0",NaN
650,1003629045,Chase Goehring debut EP,Music,Music,USD,2016-03-21 06:00:00,3000,2016-02-23 03:09:49,3660.38,undefined,0,"N,""0",NaN

Parece razoável preencher os NaN de __name__ e __category__ com 'Unknown'

In [149]:
kickstarter_df.loc[:,'name '].fillna('Unknown', inplace=True)

In [150]:
kickstarter_df.loc[:,'category '].fillna('Unknown', inplace=True)

Mas e __usd pledged__?

In [151]:
kickstarter_df.loc[kickstarter_df.loc[:, 'usd pledged '].isnull()].sample(5)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged
49512,1294253105,The BT/ALC Big Band new record!,Music,Music,USD,2015-08-18 01:00:00,3500,2015-07-23 04:05:05,3675,undefined,0,"N,""0",NaN
282651,753194199,"""Hope, Alaska"" Album Release",Music,Music,USD,2014-10-09 17:45:53,3200,2014-09-09 17:45:53,3990,undefined,0,"N,""0",NaN
223888,400498427,Gabby Banzon's First Studio EP!,Music,Music,USD,2016-03-01 06:59:00,9000,2016-01-01 13:24:06,9940,undefined,0,"N,""0",NaN
2232,1013389538,Make admission to the London Music Awards cere...,Music,Music,CAD,2015-06-09 15:22:18,3500,2015-05-10 15:22:18,207,undefined,0,"N,""0",NaN
23023,1136083189,Tweed's 2nd album,Music,Music,GBP,2015-09-08 11:47:29,3000,2015-07-28 11:47:29,3583,undefined,0,"N,""0",NaN

In [169]:
### Faça nesta célula o que você achar interessante com as colunas "usd pledged" e country

#Apagar depois

kickstarter_df.loc[:,'usd pledged '].dropna(inplace=True, axis=0)

kickstarter_df['usd pledged '].isnull().sum()

0