In [3]:
from pydataset import data

ModuleNotFoundError: No module named 'pydataset'

In [2]:
titanic = data('titanic')

In [11]:
titanic.sample(10).reset_index(drop=True)

       class     age    sex survived
0  1st class  adults    man       no
1  3rd class  adults    man      yes
2  1st class  adults  women      yes
3  3rd class  adults    man       no
4  3rd class   child  women      yes
5  3rd class  adults    man       no
6  2nd class   child  women      yes
7  3rd class   child    man       no
8  3rd class  adults  women       no
9  3rd class  adults  women       no

In [ ]:
titanic.isnull()