In [15]:
import  pandas as pd
from data_generator.dataset_generator import set_labels_for_gender

In [16]:
df = pd.read_csv('/home/nicoli/github/ssd_keras/dataset/csv/imdb_csv/imdb_clean_50.csv', index_col=0)

In [17]:
df_gender = set_labels_for_gender(df, task='classification').sample(frac=1).reset_index(drop=True)

In [18]:
df_gender.head()

                                          image_name  class_id
0  imdb/33/nm2079733_rm2734925824_1983-12-2_2009.jpg       0.0
1   imdb/34/nm0000134_rm974818816_1943-8-17_1984.jpg       1.0
2  imdb/96/nm0015196_rm2242820608_1978-5-12_2010.jpg       0.0
3  imdb/04/nm0278304_rm2797700864_1979-8-22_2010.jpg       0.0
4   imdb/43/nm2017943_rm2779224064_1982-4-5_2007.jpg       0.0

In [19]:
df_gender['class_id']+=1

In [20]:
from sklearn.preprocessing import OneHotEncoder

In [21]:
onehot_encoder = OneHotEncoder(sparse=False)
onehot_encoded = onehot_encoder.fit_transform(df_gender['class_id'].values.reshape(-1,1))

In [22]:
onehot_encoded.shape

(452132, 2)

In [23]:
df_gender['class_id1'] = 0
df_gender['class_id1'] = onehot_encoded.T[0].astype(int)
df_gender['class_id2'] = 0
df_gender['class_id2'] = onehot_encoded.T[1].astype(int)

In [24]:
df_gender.drop('class_id', axis=1, inplace=True)
df_gender.sample(10)

,image_name,class_id1,class_id2
130154,imdb/22/nm0202322_rm928684544_1979-12-26_2002.jpg,0,1
375204,imdb/25/nm0000625_rm2722208000_1976-7-9_1988.jpg,0,1
343789,imdb/34/nm0647634_rm4014661120_1989-2-16_2013.jpg,1,0
63318,imdb/01/nm0000401_rm2186381824_1961-7-30_2000.jpg,0,1
66655,imdb/17/nm0005517_rm3383801344_1972-10-29_2012...,1,0
67575,imdb/92/nm0001392_rm1489476352_1961-10-31_2001...,0,1
219651,imdb/72/nm1194672_rm1499568896_1981-9-9_2005.jpg,1,0
343062,imdb/42/nm0004742_rm813872384_1967-4-18_2012.jpg,1,0
100105,imdb/22/nm1396022_rm2968564224_1979-6-7_2008.jpg,1,0
160132,imdb/29/nm0000129_rm2636680192_1962-7-3_2005.jpg,0,1

In [25]:
df_gender.to_csv('/home/nicoli/github/ssd_keras/dataset/csv/imdb_csv/imdb_gender_classification.csv')